@charset "UTF-8";

:root {
	--bg-light-red: #ef233c;
	--btn-red-bg: #d90429;
	--dark-border: rgba(0, 0, 0, 0.1);
}

* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

body {
	background: rgb(198, 218, 234);
	background-image: radial-gradient(circle, rgba(198, 218, 234, 1) 84%,
		rgba(194, 224, 255, 1) 100%);

}

a {
	text-decoration: none;
	color: black;
}

/*-----------navbar-----------*/
nav {
	background-color: var(--bg-light-red);
	display: flex;
	align-items: center;
	padding: 10px 5px 10px 5px;
}

nav>span {
	font-size: 1.5em;
	margin-right: 5px;
	font-weight: bold;
}

.navbar-list {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	align-content: center;
}

.navbar-icon {
	width: calc(10px + 5vmin);
	height: auto;
	margin-left: 5px;
}

/*-----------hamburger menu-----------*/
.hamburger {
	font-size: 1.5em;
	margin-left: 10px;
	transition: transform 0.2s;
	will-change: transform;
}

.hamburger-menu-btn {
	width: 100%;
	height:50px;
	align-content: center;
}

.hamburger-menu-btn>a {
	color: white;
}

.hamburger-menu {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	height: 0;
	content-visibility: hidden;
	width: 100%;
	transition: height 0.2s ease-in;
	background-color: var(--bg-light-red);
	overflow: hidden;
	will-change: height;
}

.hamburger-menu>li:nth-child(even) {
	background-color: var(--btn-red-bg);
}

.hamburger-menu-open {
	display: flex;
	align-items: center;
	align-content: center;
	text-align: center;
	flex-direction: column;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	z-index: 50;
	border-top: 1px solid white;
	content-visibility: visible !important;
	will-change: unset !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

/*-----------homepage body-----------*/
.body-home {
	display: flex;
	background-color: var(--dark-border);
	height: auto;
	width: 95vw;
	margin: 20px auto 20px auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
}

.body-home>div:not(:first-child) {
	border-left: 1px grey solid;
}

.body-home>div {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width:80vw;
}

.body-home ul {
	width: 100%;
}

.body-home li>div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.body-home li div>a {
	background-color: DodgerBlue;
	padding: 1vh 2vw 1vh 2vw;
	margin: 5px 10px 5px;
	border-radius: 5px;
}

.body-home li div>a:hover {
	background-color: DeepSkyBlue;
}

.download-icon {
	width: 5vmin;
	height: auto;
}

.tutorial-carousel {
	display:flex;
	flex-direction:column;
	background-color: var(--dark-border);
	height: auto;
	width: 95vw;
	margin: 20px auto 20px auto;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

.carousel-video{
	width: 50vw;
	height: 50vw;
}
.caption {
	display:none;
	text-align:center;
	border-top: 1px white solid;
}
.caption-active {
	display:initial;
}
.caption>p>a {
	color: DodgerBlue;
}
/*-----------footer-----------*/
footer {
	background-color: var(--btn-red-bg);
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

.footer-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer-section {
	flex: 1;
	margin: 10px;
}

.footer-section h3 {
	border-bottom: 2px solid #777;
	padding-bottom: 10px;
}

.footer-section a {
	color: #fff;
	margin: 5px 0;
}

.footer-section a:hover {
	text-decoration: underline;
}

.footer-bottom {
	margin-top: 20px;
	border-top: 1px solid #777;
	padding-top: 10px;
}

@media only screen and (max-width: 1000px) {
	.carousel-control-prev{
		display:none;
	}
	.carousel-control-next{
		display:none;
	}
}

@media only screen and (max-width: 800px) {
	.body-home>div:not(:first-child) {
		border-left: none !important;
		border-top: 1px grey solid;
	}
	.body-home {
		flex-direction: column;
	}
	nav>span {
		font-size: 1em;
	}
	.hamburger-menu-btn>a {
		font-size:1em;
	}
}